* {
    font-family: 'STheiti';
}

.top-img {
    width: 100%;
}

.full-textbox {
    width: 100%;
    text-align: left;
    padding: 5px 0px 5px 13px;
    margin: 5px 0px;
    border-radius: 50px;
}

.full-button {
    width: 100%;
    text-align: center;
    padding: 5px 0px;
    margin: 5px 0px;
    border-radius: 50px;
}
/*
   飞机机票
*/
#ContentPlaceHolder1_lblName {
    position: absolute;
    top: 128px;
    left: 88px;
    font-size: 5.5px;
}

#ContentPlaceHolder1_lblDeparture {
    position: absolute;
    top: 145px;
    left: 88px;
    font-size: 5px;
}

#ContentPlaceHolder1_lblArrival {
    position: absolute;
    top: 144px;
    left: 157px;
    font-size: 6px;
}


#ContentPlaceHolder1_lblDate {
    position: absolute;
    top: 126.5px;
    left: 191px;
    font-size: 6px;
    font-weight: bold;
}

.textbox-left {
    text-align: left;
}

#ContentPlaceHolder1_lblName1 {
    position: absolute;
    top: 125px;
    left: 295px;
    font-size: 5px;
}

#ContentPlaceHolder1_lblDeparture1 {
    position: absolute;
    top: 138px;
    left: 295px;
    font-size: 4px;
}

#ContentPlaceHolder1_lblArrival1 {
    position: absolute;
    top: 145px;
    left: 295px;
    font-size: 4px;
}


#ContentPlaceHolder1_lblDate1 {
    position: absolute;
    top: 159px;
    left: 301px;
    font-size: 6px;
}
