* {
    font-family: 'STheiti';
}
.top-img{
    width: 100%;
}
.full-textbox {
    width:100%;
    text-align:center;
}
/*
   飞机机票
*/
#lblName {
    position: absolute;
    top: 87px;
    left: 60px;
    font-size: 7px;
}

#lblDeparture {
    position: absolute;
    top: 109px;
    left: 60px;
    font-size: 6px;
}

#lblArrival {
    position: absolute;
    top: 109px;
    left: 134px;
    font-size: 6px;
}


#lblDate {
    position: absolute;
    top: 91.5px;
    left: 175px;
    font-size: 6px;
    font-weight: bold;
}
 .textbox-left{
     text-align:left;
 }
#lblName1 {
    position: absolute;
    top: 90px;
    left: 285px;
    font-size: 7px;
}

#lblDeparture1 {
    position: absolute;
    top: 102px;
    left: 285px;
    font-size: 6px;
}

#lblArrival1 {
    position: absolute;
    top: 110px;
    left: 285px;
    font-size: 6px;
}


#lblDate1 {
    position: absolute;
    top: 126px;
    left: 288px;
    font-size: 6px;
}
